@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model ErrorViewModel

<h1 class="text-danger">@localizer["error_title"]</h1>
<h2 class="text-danger">@localizer["error_info"]</h2>

@if (!String.IsNullOrEmpty(Model.ErrorMessage)) {
    <h3>@localizer["error_message_title"]</h3>
    <p>
        @Model.ErrorMessage
    </p>
    <br/><br/>
}
