@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<div>
    <h2>@localizer["title"]</h2>
    <p>@localizer["info1"]</p>
    <p>@localizer["info2"]</p>
    <p>
        <a asp-controller="MaternityBenefits" asp-action="Index" class="btn btn-call-to-action">
            @localizer["test_button"]
        </a>
    </p>
</div>
